<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./index1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    
       <script type="importmap">
        {
          "imports": {
            "three": "https://threejs.org/build/three.module.js",
            "three/addons/": "https://threejs.org/examples/jsm/"
          }
        }
      </script>
  </head>
  <body>
    <div class="frame-parent">
      
      <div class="frame-child">
        <img class="frame" alt="" src="./public/frame-15@2x.png" />
      <div id="drop-zone"></div>
    <div id="hierarchy-container">
  </div>
    </div>
    
      <div class="frame-item"></div>
      <div class="frame-group">
        <div class="frame-container">
          <div class="task-1-wrapper">
            <div class="jan">Task 1</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-div">
          <div class="task-1-wrapper">
            <div class="jan">Task 1</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="buttonicon-button-wrapper">
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="task-2-wrapper">
          <div class="jan">Task 2</div>
        </div>
        <div class="task-3-wrapper">
          <div class="jan">Task 3</div>
        </div>
        <div class="task-4-wrapper">
          <div class="jan">Task 4</div>
        </div>
        <div class="task-5-wrapper">
          <div class="jan">Task 5</div>
        </div>
        <div class="task-2-container">
          <div class="jan">Task 2</div>
        </div>
        <div class="frame-inner"></div>
        <div class="frame-child1"></div>
        <div class="frame-parent1">
          <div class="task-1-wrapper">
            <div class="jan">Jan</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent2">
          <div class="task-1-wrapper">
            <div class="jan">Feb</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent3">
          <div class="task-1-wrapper">
            <div class="jan">Mar</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent4">
          <div class="task-1-wrapper">
            <div class="jan">Apr</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent5">
          <div class="task-1-wrapper">
            <div class="may">May</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent6">
          <div class="task-1-wrapper">
            <div class="jan">Jun</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent7">
          <div class="task-1-wrapper">
            <div class="jan">Jul</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent8">
          <div class="task-1-wrapper">
            <div class="jan">Aug</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent9">
          <div class="task-1-wrapper">
            <div class="jan">Sep</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent10">
          <div class="task-1-wrapper">
            <div class="jan">Oct</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <img
          class="dividerdivider-icon"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon2"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon3"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon4"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon5"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon6"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon7"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon8"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon9"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon10"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon11"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <div class="frame-child2"></div>
        <div class="frame-child3"></div>
        <div class="frame-child4"></div>
        <div class="frame-child5"></div>
        <div class="frame-child6"></div>
      </div>
      
      
    </div>
    <div class="menu-container">
      <img id="menu-button" class="menu-icon" alt="Menu" src="./public/menu.png" />
      <img class="frame-icon frame-icon-hidden" alt="" src="./public/frame-11@2x.png" />
      <div id="close-icon">×</div>
    </div>
  </div>
    <script type="module" src="main3.js"></script>
    <script type="module" src="section2.js"></script>    
  </body>
</html>
