<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./index1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    
       <script type="importmap">
        {
          "imports": {
            "three": "https://threejs.org/build/three.module.js",
            "three/addons/": "https://threejs.org/examples/jsm/"
          }
        }
      </script>
  </head>
  <body>
    <div class="frame-parent">
      <button id="toggleHierarchyBtn">></button>
      <button id="toggleHierarchyBtn1">></button>
      <div class="frame-child">
        <img class="frame" alt="" src="./public/frame-15@2x.png" />
        <div id="drop-zone">
          <label for="file"  >Upload file here</label>
         <input id="fileInput" name="file" type="file" />
        <button class="Uploadfile" id="Uploadfile">Upload</button>
      </div>
    <div id="hierarchy-container">
  </div>
    </div>
    
      <div class="frame-item">
        <div id="hierarchy-container1"></div>
      </div>
      <div class="frame-group">
        <div class="frame-container">
          <div class="task-1-wrapper">
            <div class="jan">Task 1</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-div">
          <div class="task-1-wrapper">
            <div class="jan">Task 1</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="buttonicon-button-wrapper">
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="task-2-wrapper">
          <div class="jan">Task 2</div>
        </div>
        <div class="task-3-wrapper">
          <div class="jan">Task 3</div>
        </div>
        <div class="task-4-wrapper">
          <div class="jan">Task 4</div>
        </div>
        <div class="task-5-wrapper">
          <div class="jan">Task 5</div>
        </div>
        <div class="task-2-container">
          <div class="jan">Task 2</div>
        </div>
        <div class="frame-inner"></div>
        <div class="frame-child1"></div>
        <div class="frame-parent1">
          <div class="task-1-wrapper">
            <div class="jan">Jan</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent2">
          <div class="task-1-wrapper">
            <div class="jan">Feb</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent3">
          <div class="task-1-wrapper">
            <div class="jan">Mar</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent4">
          <div class="task-1-wrapper">
            <div class="jan">Apr</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent5">
          <div class="task-1-wrapper">
            <div class="may">May</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent6">
          <div class="task-1-wrapper">
            <div class="jan">Jun</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent7">
          <div class="task-1-wrapper">
            <div class="jan">Jul</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent8">
          <div class="task-1-wrapper">
            <div class="jan">Aug</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent9">
          <div class="task-1-wrapper">
            <div class="jan">Sep</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <div class="frame-parent10">
          <div class="task-1-wrapper">
            <div class="jan">Oct</div>
          </div>
          <div class="buttonicon-button">
            <img class="icon-keyboard-arrow-right" alt="" />
          </div>
        </div>
        <img
          class="dividerdivider-icon"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon2"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon3"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon4"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon5"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon6"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon7"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon8"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon9"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon10"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <img
          class="dividerdivider-icon11"
          alt=""
          src="./public/dividerdivider@2x1.png"
        />

        <div class="frame-child2"></div>
        <div class="frame-child3"></div>
        <div class="frame-child4"></div>
        <div class="frame-child5"></div>
        <div class="frame-child6"></div>
      </div>
      
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="../index2.html">Home</a>
        <a href="#">Plan</a>
        <a href="#">Do</a>
        <a href="#">Check</a>
        <a href="#">Act</a>
        <br><br><br>
        <a href="#">Library</a>
        <a href="#">Reference Docs</a>
        <br><br><br><br><br><br><br><br>
        <a href="#">Export</a>
        <a href="#">Rules</a>
        <a href="#">Enterprise</a>
      </div>
      <div id="main">
        <button class="openbtn" onclick="openNav()">☰ </button>  
      </div>
    </div>
    
  </div>
  <script>
const rendererContainer = document.querySelector('.frame-child');
const planner =document.querySelector(".frame-group");
const plannerwindow=document.querySelector(".frame-item");
function openNav() {
  document.getElementById("mySidebar").style.width = "150px";
  document.getElementById("main").style.display = "none";
  rendererContainer.style.left="150px";
  rendererContainer.style.width="649px";
  document.querySelector(".frame").style.width="649px";
  document.getElementById("drop-zone").style.left="50px";
  planner.style.left="150px";
  planner.style.width="1272px";
  plannerwindow.style.left="816px";
  plannerwindow.style.width="608px";
  document.getElementById("toggleHierarchyBtn").style.left="150px";
  document.getElementById("toggleHierarchyBtn1").style.left="765px";
}

function closeNav() {
  document.getElementById("main").style.display= "block";
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  rendererContainer.style.left="80px";
  rendererContainer.style.width="700px";
  document.querySelector(".frame").style.width="700px";
  document.getElementById("drop-zone").style.left="30px";
  planner.style.left="80px";
  planner.style.width="1350px";
  plannerwindow.style.left="800px";
  plannerwindow.style.width="627px";
  document.getElementById("toggleHierarchyBtn").style.left="80px";
  document.getElementById("toggleHierarchyBtn1").style.left="750px";
}
  </script>

    <script type="module" src="main3.js"></script>
    <script type="module" src="section2.js"></script>    
  </body>
</html>
