<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
    <style>
      /* Add additional styles for project items */
      .project-item {
        border: 5px solid #ccc;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 8px;
        position: relative;
      }

      .delete-button {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }
    </style>
    <title>Projects</title>
  </head>
  <body>
    <div class="frame-parent">
      <div class="project-list">
        <!-- This is where your projects will be displayed -->
      </div>
    </div>
    <script src="./projects.js"></script>
  </body>
</html>
